
<actions>
    <group id="MyPlugin.SampleMenu" text="_Sample Menu" description="Sample menu">
        <add-to-group group-id="MainMenu" anchor="last"  />
        <action id="Myplugin.Textboxes" class="streamai.akkamap.TextBoxes" text="Text _Boxes" description="A test menu item" />
        <action id="Myplugin.Dialogs" class="streamai.akkamap.TextBoxes" text="Show _Dialog" description="A test menu item" />
    </group>

</actions>